<main class="main">
    <div class="main-esq">

        <h1> Descubra novos artistas e suas obras </h1>
        <h4>Uma nova geração de jovens artistas surgem</h4>
        <app-button class="main-btn" titulo="Explorar"></app-button>

        <div class="main-rank">
            <div class="item">
                <p> +2 mil </p>
                <p>Artistas</p>
            </div>
            <div class="item">
                <p> +7 mil </p>
                <p> Vendas </p>
            </div>
            <div class="item">
                <p> +16 mil </p>
                <p> Avaliações </p>
            </div>
        </div>
    </div>
    <div class="main-dir">
        <img src="assets/main.png" alt="">
    </div>
</main>